.cardDetails {
  width: 100%;
  background: linear-gradient(45deg, #2c2d31, #414147);
  padding: 20px;
  color: white;
  border-radius: 8px;
}

.cardDetailsContainer {
  padding-left: 0;
}

.expireTitle {
  top: 23px;
  color: #818389;
  margin-bottom: 2px;
}

@media (min-width: 1200px) {
  .cardDetailsContainer {
    padding-left: 55px;
  }
  .cardDetails {
    padding: 40px 40px 1px;
  }
}
