.textInput select {
  padding-left: 0 !important;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding-bottom: 0.7rem;
  color: white;

  position: relative;
}
.textInput select option {
  background: rgb(44, 42, 42);
  color: white;
  padding: 55px;
}
.textInput select option[value=""][disabled] {
  display: none;
}

.textInput select:focus {
  background: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  color: white;

  box-shadow: unset;
}

.textInputLabel {
  color: #818389;
}

.textInput label {
  padding: 0 !important;
  transform: unset !important;
}

.test {
  color: #818389;
  width: 11px;
  height: 12px;
  position: absolute;
  top: 30%;
  right: 5%;
}
