.textInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  color: white;
  padding: 0;
  padding-bottom: 0.7rem;
}
.textInput:focus {
  background: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  color: white;

  box-shadow: unset;
}
.textInput::placeholder {
  color: white;
}
.textInputLabel {
  color: #818389;
}
