$body-bg: white;

@import "../../node_modules/bootstrap";

@font-face {
  font-family: "Roboto Regular";

  src: url("/font/Roboto-Regular.woff");
}

a {
  text-decoration: none;
}
body {
  font-size: 0.9rem;
  font-family: "Roboto Regular" !important;
}
