.cardType {
  color: #818389;
}

.brand {
  background: #8e8e97;
  border-radius: 7px;
  height: 150px;
  position: relative;
  right: 0px;
  padding: 15px 20px;
}
.brand > span {
  font-weight: bold;
}
.stars {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 13.5px;
}
.cardName {
  font-size: bold;
}

.masterCard {
  margin-right: 0px;
  margin-top: 30px;
}

.masterCardLogo {
  height: 40px;
  display: flex;
}
.masterCardLogo > .rightBall {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #eb001bc2;
  position: relative;
  left: 8px;
  z-index: 2;
}
.masterCardLogo > .leftBall {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  right: 8px;
  background: #f79f19;
}

@media (min-width: 1200px) {
  .brand {
    right: 70px;
    transform: scaleX(1.18);
    transform-origin: left center;
  }

  .masterCard {
    margin-right: 10px;
    margin-top: 0;
  }
}
