.footer {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;

  &Icon {
    margin-right: 10px;
    height: 20px;
    width: 25px;
  }

  .subtotalTitle {
    font-size: 14px;
    color: rgb(158, 154, 154);
    font-weight: 550;
  }
  .totalPrice {
    font-size: 1.2rem;
    font-weight: 650;
  }
}
