.cartItemContainer {
  border-bottom: 1px solid #ccc;
  padding: 25px 0;
}
.cartItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardPic {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.itemImage {
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 50%;
}
.foodNameContainer {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  flex-direction: column;
}

.foodCode {
  font-size: 11px;
  color: #ccc;
}

.quantity {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 7px;

  .plus {
    margin: 0 8px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Submission {
    height: 20px;
    width: 20px;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
  }
  .count {
    border: 1px solid #ccc;
    padding: 2px 15px;
    border-radius: 5px;
  }
}

.removeIcon {
  cursor: pointer;
}
